[output]
ignoreerrors=
    mag.svg
    mag_sel.svg
    mag_d.svg
    mag_seld.svg
    ../tab_a.png
    ../tab_ad.png
    minus.svg
    plus.svg
    minusd.svg
    plusd.svg

[filtering]
ignorewarnings=
    http-redirected
